.w3-theme-l5 {color:#000 !important; background-color:#e9fffd !important}
.w3-theme-l4 {color:#000 !important; background-color:#b7fff8 !important}
.w3-theme-l3 {color:#000 !important; background-color:#6efff1 !important}
.w3-theme-l2 {color:#000 !important; background-color:#26ffe9 !important}
.w3-theme-l1 {color:#fff !important; background-color:#00dcc6 !important}
.w3-theme-d1 {color:#fff !important; background-color:#585851 !important}
.w3-theme-d2 {color:#fff !important; background-color:#75756f !important}
.w3-theme-d3 {color:#fff !important; background-color:#6b6b63!important}
.w3-theme-d4 {color:#fff !important; background-color:#64645c !important}
.w3-theme-d5 {color:#fff !important; background-color:#585851!important}

.w3-theme-light {color:#000 !important; background-color:rgb(56, 56, 54) !important}
.w3-theme-dark {color:#fff !important; background-color:#c3c3a2 !important}
.w3-theme-action {color:#fff !important; background-color:#c3c3a2 !important}

.w3-theme {color:#fff !important; background-color: #1183e1 !important}
.w3-text-theme {color:#009688 !important}
.w3-theme-border {border-color:#009688 !important}




